@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .item {
        width: 100%;
        text-align: center;
        gap: 40px;
    }

    .item img {
        width: 343px;
    }
}
